[Desktop Entry]
Encoding=UTF-8
Icon=tuningdrake
Name=Tuningdrake-qt
Name[es]=Tuningdrake-qt
Name[pt]=Tuningdrake-qt
Name[pt_BR]=Tuningdrake-qt
Comment=Help with part of Mandriva Configuration
Comment[es]=Ayuda con parte de la Configuración de Mandriva
Comment[pt]=Ajuda com parte da Configuração do Mandriva
Comment[pt_BR]=Ajuda com parte da Configuração do Mandriva
Exec=Tuningdrake-qt
Terminal=true
Type=Application
StartupNotify=true
Categories=KDE;Qt;Settings;DesktopSettings;
OnlyShowIn=KDE;
