[Desktop Entry]
Encoding=UTF-8
Icon=WifiDrake
Name=WifiDrake
Name[es]=WifiDrake
Comment=Help with part of Mandriva instalation
Comment[es]=Ayuda con parte de la Instalación de Mandriva
Exec=WifiDrake
Terminal=true
Type=Application
StartupNotify=true
Categories=KDE;Qt;Settings;DesktopSettings;
OnlyShowIn=KDE;
